<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs', {page: "cart"}); %>
</head>

<body>
<header>
    <%- include('partials/header.ejs', {page: "cart"}); %>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form action="/order">
                <h2 class="border-bottom pb-3">Confirmation Note</h2>
                <p>
                    Dear <%= user.first_name %> <%= user.last_name %>,<br>
                    thank you for ordering in out online shop.<br>
                    Please enter your credit card information and delivery address.
                </p>
                <div class="credit_card">

                </div>
                <div class="table-responsive row mt-5">
                    <h4>Your Order</h4>
                    <table class="table table-striped table-hover table-hover">
                        <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% cart.forEach((productQuantity) => { %>
                            <tr>
                                <td><%= productQuantity.quantity %></td>
                                <td><%= productQuantity.product.name %></td>
                                <td>$<%= Number.parseFloat(productQuantity.product.price).toFixed(2) %></td>
                                <td>
                                    $<%= Number.parseFloat(productQuantity.quantity * productQuantity.product.price).toFixed(2) %></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="row d-flex justify-content-end">
                    <h4><strong>Total:</strong> $<%= total %>></h4>
                </div>
                <button type="submit" class="btn btn-success mt-3">Confirm</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs'); %>
</body>

</html>